
 <div class="row">
  <div class="col-3"></div>
  <div class="col-6">
     
      <form name="medioPago" (ngSubmit)="editMedioPago()">
         
           
          <div class="form-group">
              <label for="medioPagoDescription"><b>Descripcion: </b></label>
              <textarea name="medioPagoDescription" class="form-control" id="medioPagoDescription" ></textarea>       
          </div>
          
             <div class="form-group">
              <label for="medioPagoNumber"><b>Numero: </b></label>
              <input type="number" name="medioPagoNumber" class="form-control" id="medioPagoNumber" >       
          </div>
          
          <div class="form-group">
              <label for="medioPagoBank"><b>Banco: </b></label>
              <textarea name="medioPagoBank" class="form-control" id="medioPagoBank" ></textarea>       
          </div>
          
        

          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
          </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>