<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3">{{artistDetail.name}}<p> 
      <div class="row">
          <div class="col-md-3">
              <div class="thumb">
                  <img class="img-fluid" src='{{artistDetail.image}}' alt="{{artistDetail.image}}" />   
              </div>
          </div>
          <div class="col">
              <dl>     
                  <dt>Bio</dt>
                  <dd>{{artistDetail.description}}</dd>
                  <dd>Vincent Willem van Gogh fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo.​ Pintó unos 900 cuadros y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó apoyo financiero de manera continua y desinteresada</dd>
                  <dt>BirthDay</dt>
                  <dd>{{artistDetail.birthDate| date:'MM/dd/yyyy'}}</dd>
                  <dt>03/0471903</dt>
              </dl>
          </div>

      </div>
  </div>
  <!-->p class="h3 p-3">Books by this artist : </p-->
  <!-->app-book-list [books]="artistDetail.books"></app-book-list-->
</div>