<div class="panel-body">
  <div class="border margin">
      <div class="row">
          <div class="col">
                <div class="card">
                        <img src="{{artistDetail.image}}" style="width:100%">
                        </div>
          </div>
          <div class="col">
                <div class="card">
        <h1>{{artistDetail.name}}</h1>
        <p class="price">{{artistDetail.birthDate| date:'yyyy-mm-dd'}}</p>
        <p>{{artistDetail.description}}</p>
   </div>
   <div clas="col">
        <a class="btn btn-primary" routerLink= "/artists/{{artistDetail.id}}/cvs">CV</a>
    <button class="btn btn-primary" (click)="showHideEdit(artist.id)"><span class="fa fa-pencil">Edit</span></button>
   </div>
          </div>
  </div>
</div>
