<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Create an artist</h2>
            <br>
            <form name="artist" (ngSubmit)="f.form.valid && createArtist()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="artistName"><b>Name</b></label>
                    <input type="text" name="artistName" class="form-control" id="artistName" [(ngModel)]="artist.name"
                        #artistName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && artistName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The artist's name is missing</div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="artistBirthDate"><b>Birth date</b></label>
                        <div [ngClass]="{ 'is-invalid': f.submitted && artistBDate.invalid }">
                            <input class="form-control" id="artistBDate" name="artistBDate" [(ngModel)]="artist.birthDate"
                                ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #artistBDate="ngModel" [ngClass]="{'is-invalid': f.submitted && (artistBDate.untouched || artistBDate.invalid) }"
                                required>
                            <div class="invalid-feedback">
                                <div>The artist's birth date is missing</div>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="artistDescription"><b>Description</b></label>
                    <textarea name="artistDescription" maxlength=255 class="form-control" id="artistDescription" [(ngModel)]="artist.description"
                    #artistDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && artistDescription.invalid }"
                    required></textarea>
                    <div class="invalid-feedback">
                        <div>The artist's description is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="artistImage"><b>Image</b></label>
                    <input type="text" name="artistImage" class="form-control" id="artistImage" [(ngModel)]="artist.image"
                        #artistImage="ngModel" [ngClass]="{ 'is-invalid': f.submitted && artistImage.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The artist's image is missing</div>
                    </div>
                </div>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>