<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an ExtraService</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">ExtraService´<script src=""></script> Name</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let extraService of extraServices" >
                        <td style="cursor: pointer;" (click)="onSelected(extraService.id)"> <dd>{{extraService.name}}</dd>
                </td>
                <td >
                    <button class="btn btn-primary" (click)="showHideEdit(extraService.id)"><span class="fa fa-pencil"></span></button>
                </td>
                <td >
                    <button class="btn btn-danger" (click)="deleteAuthor(extraService.id)"><span class="fa fa-trash"></span></button>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="showView">
                <app-extraService-detail [extraServiceDetail]="selectedExtraService"></app-extraService-detail>
            </div>
            <div *ngIf="showCreate">
                <app-extraService-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-extraService-create>
            </div>
            <div *ngIf="showEdit">
                <app-extra-service-edit [extraService]="selectedExtraService" (cancel)="showHideEdit(selectedExtraService.id)" (update)="updateExtraService()" ></app-extra-service-edit>
            </div>
        </div>   
    </div>
</div>