
            <h1 class="text-center h2"><span>Buyers </span></h1>
            <div class="card-group">

               
                   <div class="card profile-card-2">
                           
                       <div class="card-body pt-5">
               
                               <h5 class="card-text"> Sara</h5>
                               <p class="card-text">Usuario:</p>
                               <td class = "card-text"> s.acostav</td>
                               <p class="card-text">Email:</p>
                               <td class = "card-text"> s.acostav@correo.com</td>                               
                               <p class="card-text">Phone:</p>
                               <td class = "card-text"> 1234567</td>
                               
                               
                       </div>  
                   </div>
           
              
           </div>
