<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3"><p> 
      <div class="row">
          <div class="col-md-3">
              <div class="thumb">
                  <img class="img-fluid" src='' alt="" />   
              </div>
          </div>
          <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
            <button class="btn btn-primary text-center" routerLink="/sales/{{saleDetail.id}}/edit">Edit</button>
            <div class="divider"></div>
            <button class="btn btn-danger text-center" (click)="deleteSale()"><span class="fa fa-trash"></span></button>
        </div>
          <div class="col">
              <dl>     
                  <dt>Bio</dt>
                  <dd></dd>
                  <dt>BirthDay</dt>
                  <dd></dd>
              </dl>
          </div>

      </div>
  </div>
</div>
