<div class="panel-body">
  <div class="border margin">
      <p class="h3 p-3"><p> 
      <div class="row">
          <div class="col-md-3">
              <div class="thumb">
                  <img class="img-fluid" src='' alt="" />   
              </div>
          </div>
          <div class="col">
              <dl>     
                  <dt>Bio</dt>
                  <dd></dd>
                  <dt>BirthDay</dt>
                  <dd></dd>
              </dl>
          </div>

      </div>
  </div>
</div>
