<div class="container-fluid">
    <div clas="row">
            <div class="col">
                    <div style="text-align: center;">
                <table class="table table-striped">
                        <thead class="thead-dark">
                                <tr>
                                    <th class = "h3" colspan="2">Comentarios </th>
                                </tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Calificación</th>
                                   
                            </thead>
                    <tbody>
                        <tr *ngFor = "let feedbacklDetail of feedbacklDetail">
                            <td>{{feedbacklDetail.name}}</td>
                            <td> {{feedbacklDetail.comentario}}</td>
                             <td> {{feedbacklDetail.rating}}</td>
                              
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-danger">Volver</button>
                </div>
            </div>
         </div>
    </div>
