<div class="container-fluid">
  <div class="row">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th colspan="4">Buyers</th>
              </tr>
          </thead>
          <tbody>
              <th>Name</th>
              <th>User</th>
              <th>Email</th>
              <th>Phone</th>
              <tr *ngFor="let buyer of buyers">
                  <td>{{buyer.name}}</td>
                  <td>{{buyer.user}}</td>
                  <td>{{buyer.email}}</td>
                  <td>{{buyer.phone}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>