
            <h1 class="text-center h2"><span>Buyers </span></h1>
            <div class="card-group">

           <div class="col-4"  *ngFor="let buyer of buyers">
               
                   <div class="card profile-card-2">
                           <img class="img-fluid" src= {{buyer.image}}  width="300"  height="200" />
                      
                       <div class="card-body pt-5">
               
                               <h5>{{buyer.name}}</h5>
                               <p class="card-text">Usuario:</p>
                               <td>{{buyer.user}}</td>
                               <p class="card-text">Email:</p>
                               <td>{{buyer.email}}</td>
                               <p class="card-text">Phone:</p>
                               <td>{{buyer.phone}}</td>
                               
                       </div>  
                   </div>
           
              
           </div>