<br>
                            <div class="row justify-content-center align-self-center">
                                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                                    (click)="showHideCreate()">Create an buyer</button>
                            </div>
                            <div class="col-8">
                                <div *ngIf="selectedBuyer">
                                    <app-buyer-detail [buyerDetail]="selectedBuyer"></app-buyer-detail>
                                </div>
                                <div *ngIf="showCreate">
                                    <app-buyer-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-buyer-create>
                                </div>
                            </div>
                    
                    <br> 
            <h1 class="text-center h2"><span>Buyers </span></h1>
            <div class="card-group">

           <div class="col-4"  *ngFor="let buyer of buyers">
               
                   <div class="card profile-card-2">
                           
                       <div class="card-body pt-5">
               
                               <h5>{{buyer.name}}</h5>
                               <p class="card-text">Usuario:</p>
                               <td>{{buyer.user}}</td>
                               <p class="card-text">Email:</p>
                               <td>{{buyer.email}}</td>
                               <p class="card-text">Phone:</p>
                               <td>{{buyer.phone}}</td>
                               
                       </div>  
                   </div>
           
              
           </div>
           