<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    <div class="col-md-3">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="3">Feedbacks</th>
                </tr>
            </thead>
            <tbody>
                <th>Usuario</th>
                <th>Descripcion</th>
                <th>Rating</th>
                <tr *ngFor="let feedback of feedbacks">
                    <td>{{feedback.usuario}}</td>
                    <td>{{feedback.descripcion}}</td>
                    <td>{{feedback.rating}}</td>
                </tr>
            </tbody>
        </table>
    </div>

   
       <div class="col">
            <p>
                    <a class="btn btn-success" routerLink= "/feedbacks/modal">Crear un comentario</a>
                </p>
       </div>
   
</div>
</div>