<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{extraServiceDetail.name}}<p> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                </div>
            </div>
            <div class="col">
                <dl>     
                    <dt>Description</dt>
                    <dd>{{extraServiceDetail.description}}</dd>
                    <dt>Price</dt>
                    <dd>{{extraServiceDetail.price}}</dd>
                </dl>
            </div>

        </div>
    </div>

</div>