<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
      <br>
      <h2 class="text-center">Create a sale</h2>
      <br>
      <form name="sale" (ngSubmit)="createAuthor()"  novalidate>
          <div class="form-group">
              <label for="saleName"><b>Name</b></label>
              <input type="text" name="saleName" class="form-control" id="saleName"  required>
              <div class="invalid-feedback">
                  <div>The sale's name is missing</div>
              </div>
          </div>
         
          <div class="form-group">
              <label for="authorDescription"><b>Description</b></label>
              <textarea name="authorDescription" class="form-control" id="authorDescription"
                  required></textarea>
              <div class="invalid-feedback">
                  <div>The sale's description is missing</div>
              </div>
          </div>
          <div class="form-group" >
              <label for="authorImage"><b>Image</b></label>
              <input type="text" name="authorImage" class="form-control" id="authorImage"  required>
              <div class="invalid-feedback">
                  <div>The sale's image is missing</div>
              </div>
          </div>
          <div class="row form-inline justify-content-center align-self-center">
              <button type="submit" class="btn btn-primary">Create</button>
              <div class="divider"></div>
              <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
          </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>