<!--div class="container-fluid">
<div clas="row">
        <div class="col">
            <table class="table table-striped">
                    <thead class="thead-dark">
                            <tr>
                                <th class = "h3" colspan="2">Medios de Pago</th>
                            </tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                        </thead>
                <tbody>
                    <tr *ngFor = "let medioPago of medioPagos"
                        (click)="onSelected(medioPago.id)">
                        <td style="cursor: pointer;">{{medioPago.id}}</td>
                        <td> {{medioPago.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
</div--><p>Esto está</p>
