
<ul class="nav nav-tabs">

  <li class="nav-item">
        <a routerLink="/" class="nav-link">Inicio</a>
  </li>
  <li class="nav-item">
        <a routerLink="/buyer/list" class="nav-link">Buyer</a>
  </li>
  <li class="nav-item">
        <a routerLink="/cv/list" class="nav-link">cv</a>
  </li>
  <li class="nav-item">
        <a routerLink="/artists/list" class="nav-link">Artists</a>
  </li>
  <li class="nav-item">
      <a id="feedbacksTag" class="nav-link" routerLink="/feedbacks/list">Feedbacks</a>
    </li>
</ul>

<div class="list">
  <router-outlet></router-outlet>
</div>





