
<ul class="nav nav-tabs">

  <li class="nav-item">
        <a routerLink="/" class="nav-link">Inicio</a>
  </li>
  <li class="nav-item">
        <a routerLink="/buyer" class="nav-link">Buyer</a>
  </li>
  <li class="nav-item">
        <a routerLink="/cv" class="nav-link">cv</a>
  </li>
  <li class="nav-item">
        <a routerLink="/sale" class="nav-link">Sale</a>
  </li>
  <li class="nav-item">
      <a id="feedbacksTag" class="nav-link" routerLink="/feedbacks">Feedbacks</a>
    </li>
</ul>

<div class="list">
  <router-outlet></router-outlet>
</div>





