body {
margin: 0;
padding: 0;
font: normal 13px arial, helvetica, sans-serif;
}
#contenedor {
margin: 0 auto;
border: solid 1px #aaa;
}
#cabecera   {
height: 100px;
background: url(data:image/webp;base64,UklGRiQAAABXRUJQVlA4TBcAAAAvHcExAAcQUf/+BwAU6f9/iuh/6v8PAAA=);
}
#cabecera h1      {
margin: 0;
padding: 25px;
font: bold 50px arial, helvetica, sans-serif;
color: white;
}
#menu {
background: url(https://previews.123rf.com/images/aomeditor/aomeditor1508/aomeditor150800008/44380245-ilustrador-de-una-sola-lombriz.jpg);
height: 30px;
}
#fondomenu  {
background: url(https://previews.123rf.com/images/aomeditor/aomeditor1508/aomeditor150800008/44380245-ilustrador-de-una-sola-lombriz.jpg);
width: 490px;
height: 30px;
}
#fondomenu ul {
list-style: none;
margin: 0;
padding: 0;
}
#fondomenu ul li a {
background: url(https://previews.123rf.com/images/aomeditor/aomeditor1508/aomeditor150800008/44380245-ilustrador-de-una-sola-lombriz.jpg);
width: 120px;
height: 30px;
margin-left: 1px;
float: left;
text-align: center;
line-height: 30px;
font-size: 13px;
color: white;
text-decoration: none;
display: block;
}
#fondomenu ul li a:hover {
background: url(https://previews.123rf.com/images/aomeditor/aomeditor1508/aomeditor150800008/44380245-ilustrador-de-una-sola-lombriz.jpg);
color: black;
}