<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Editar un comentario</h2>
        <br>
        <form name="Comentario" (ngSubmit)="f.form.valid && editFeedback()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="user"><b>Nombre</b></label>
                <input type="text" name="user" class="form-control" id="user" [(ngModel)]="feedback.name"
                       #user="ngModel" [ngClass]="{ 'is-invalid': f.submitted && user.invalid }" required>
                       <div class="invalid-feedback">
                    <div>Falta el nombre</div>
                </div>
            </div>
           
            <div class="form-group">
                <label for="description"><b>Descripción</b></label>
                <textarea name="description" class="form-control" id="description" [(ngModel)]="feedback.description"
                          #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"
                          required></textarea>
                <div class="invalid-feedback">
                    <div>Falta la descripción</div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <i  style="padding-right: 1em;"class="fa fa-save " (click)="editArtist()">Salvar</i>
          
            <i class="fa fa-ban" (click)="cancelEdition()">Cancelar</i>
        </div>
    </div>
</div>
<br>
<br>