<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{paintwork_detail.name}}
        </h3>
        <div class="row">
          <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded" />
          </div>
          <h1>${{paintwork_detail.value}}</h1>
          <div class="col-md-6">
            <p>
              Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
            </p>
          </div>
        </div>
        <dl>
          <dt>
            Description lists
          </dt>
          <dd>
            A description list is perfect for defining terms.
          </dd>
          <dt>
            Euismod
          </dt>
          <dd>
            Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
          </dd>
          <dd>
            Donec id elit non mi porta gravida at eget metus.
          </dd>
          <dt>
            Malesuada porta
          </dt>
          <dd>
            Etiam porta sem malesuada magna mollis euismod.
          </dd>
          <dt>
            Felis euismod semper eget lacinia
          </dt>
          <dd>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </dd>
        </dl>
        <blockquote class="blockquote">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Someone famous in <cite>Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>