
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an artist</button>
            </div>
            <div class="col-8">
                <div *ngIf="selectedArtist">
                    <app-artist-detail [artistDetail]="selectedArtist"></app-artist-detail>
                </div>
                <div *ngIf="showCreate">
                    <app-artist-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-artist-create>
                </div>
            </div>
         </div>
    </div>
    <br>
    <div>
        <div class="card-group">
            <div class="col-3" *ngFor="let artist of artists" (click)="onSelected(artist.id)">
                <div class="card">
                    <img class="card-img-top" src="{{artist.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{artist.name}}</h5>
                        <p class="card-text">{{artist.description}}</p>
                        <!-->p class="card-text"><small class="text-muted">{{paintwork.kind}}</small></p-->
                        <a class="btn btn-primary" routerLink= "/artist/detail">Ver mas</a>

                    </div>
                </div>
            </div>
        </div>