<div class="row">
    <div class="col">
        <br>
        <h2 class="text-center">Crear un comprador</h2>
        <br>
    </div>
    <div class="col">
        <form class="login-form" (ngSubmit)="editBuyer() && f.form.valid" #f="ngForm" novalidate>
            <div class="form-group">
                <label class="text-uppercase">Nombre</label>
                <input type="text" class="form-control" placeholder="Ingrese su nombre" [(ngModel)]="buyer.name" #buyerName="ngModel" [ngClass]="{'is-invalid': f.submitted && buyerName.invalid}" required>
          </div>
            <div class="form-group">
                <label class="text-uppercase">Usuario</label>
                <input type="password" class="form-control" placeholder="Ingrese su usuario" [(ngModel)]="buyer.user" #buyerUser="ngModel" [ngClass]="{'is-invalid': f.submitted && buyerUser.invalid}" required >
            </div>
            <div>
              </div>
            <div class="form-group">
                <label class="text-uppercase">email</label>
                <input type="email" class="form-control" placeholder="Ingrese su email" [(ngModel)]="buyer.email" #buyerEmail="ngModel" [ngClass]="{'is-invalid': f.submitted && buyerEmail.invalid}" >
            </div>
            
              
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
                </div>            
        </form>
    </div>
    
</div>