<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{medioPagoDetail.id}}<p> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                      
                </div>
            </div>
            <div class="col">
                <dl>     
                    <dt>DESCRIPCION</dt>
                    <dd>{{medioPagoDetail.description}}</dd>
                    <dt>bank</dt>
                    <dd>{{medioPagoDetail.bank}}</dd>
                </dl>
            </div>

        </div>
    </div>
   
</div>