<div class="container-fluid">
    <div clas="row">
            <div class="col">
                <table class="table table-striped">
                        <thead class="thead-dark">
                                <tr>
                                    <th class = "h3" colspan="2">Medio de pago </th>
                                </tr>
                                    <th>Id</th>
                                    <th>Number</th>
                                    <th>Description</th>
                                    <th>Bank</th>
                            </thead>
                    <tbody>
                        <tr *ngFor = "let medioPagoDetail of medioPagoDetail">
                            <td>{{medioPagoDetail.id}}</td>
                            <td> {{medioPagoDetail.number}}</td>
                             <td> {{medioPagoDetail.description}}</td>
                              <td> {{medioPagoDetail.bank}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-danger">Volver</button>
                </div>
            </div>
         </div>
    </div>
<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{medioPagoDetail.id}}<p> 
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                      
                </div>
            </div>
            <div class="col">
                <dl>     
                    <dt>DESCRIPCION</dt>
                    <dd>{{medioPagoDetail.description}}</dd>
                    <dt>bank</dt>
                    <dd>{{medioPagoDetail.bank}}</dd>
                </dl>
            </div>

        </div>
    </div>
   
</div>
