<div class="container-fluid">
<div clas="row">
        <div class="col">
            <table class="table table-striped">
                    <thead class="thead-dark">
                            <tr>
                                <th class = "h3" colspan="2">Medio de pago </th>
                            </tr>
                                <th>Id</th>
                                <th>Number</th>
                                <th>Description</th>
                                <th>Bank</th>
                        </thead>
                <tbody>
                    <tr *ngFor = "let medioPagoDetail of medioPagoDetail">
                        <td>{{medioPagoDetail.id}}</td>
                        <td> {{medioPagoDetail.number}}</td>
                         <td> {{medioPagoDetail.description}}</td>
                          <td> {{medioPagoDetail.bank}}</td>
                          <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-primary text-center" routerLink="/medioPagos/{{medioPagoDetail.id}}/edit">Edit</button>
                            <div class="divider"></div>
                            <button class="btn btn-danger text-center" (click)="deleteMedioPago()"><span class="fa fa-trash"></span></button>
                        </div>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-danger">Volver</button>
            </div>
        </div>
     </div>
</div>
