  <div class="container-fluid">
    <div class="row">
      <div class="col">
    <ngb-carousel *ngIf="images" style="object-fit: contain">
        <ng-template ngbSlide>
          <img [src]="images[0]" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Queremos conectARTE</h3>
            <p>"Todos los niños nacen artistas. El problema es cómo seguir siendo artistas al crecer"- Picasso</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Un buen retrato es una biografía pintada</h3>
            <p>"El objetivo del arte es representar no la apariencia externa de las cosas, sino su significado interior."- Aristoteles</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Compra, conoce, crea</h3>
              <p>“Aunque parezca paradójico, la vida imita al arte mucho más que el arte imita a la vida.”
                  -Oscar Wilde.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <div class="main-container">
            <div class="first-container share">
              <h1><span id="one">O</span><span>b</span><span>r</span><span>a</span> <span>s</span></h1>
            </div>
            <div class="second-container share">
              <h1><span>P</span><span>o</span> <span>p</span><span>u</span><span>l</span><span>a</span><span>r</span><span>e</span><span>s</span></h1>
            </div>
          </div>
          </div>

       <div class="col">
          <div class="main-container">
            <div class="first-container share">
              <h1><span id="one">A</span><span>r</span><span>t</span><span>i</span> <span>s</span><span>t</span> <span>a</span><span>s</span></h1>
            </div>
            <div class="second-container share">
              <h1><span>P</span><span>o</span> <span>p</span><span>u</span><span>l</span><span>a</span><span>r</span><span>e</span><span>s</span></h1>
            </div>
          </div>
       </div>
    </div>
    <div class="efecto">
    <div class="words words-1">
      <span>I</span>
      <span>N</span>
      <span>S</span>
      <span>P</span>
      <span>I</span>
      <span>R</span>
      <span>A</span>
      <span>R</span>
      <span>T</span>
      <span>E</span>
    </div>
    <div class="words words-1">
      <span>A</span>
      <span>R</span>
      <span>T</span>
      <span>E</span>
    </div>
    <div class="words words-1">
      <span>C</span>
      <span>O</span>
      <span>N</span>
      <span>E</span>
      <span>C</span>
      <span>T</span>
      <span>A</span>
      <span>R</span>
      <span>T</span>
      <span>E</span>
    </div>
  </div>
   
  
  
    
  
  </div>

  

  

  