@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";
img{
    width: 100%;
    
}


.main-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  
  .first-container, .second-container {
    cursor: pointer;
    position: relative;
  }
  .first-container h1, .second-container h1 {
    position: relative;
    font-size: 2vw;
  }
  
  .first-container {
    margin-bottom: 15px;
  }
  
  span {
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }
  span:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: -5;
  }
  
  .share:hover > h1 > span:nth-child(1):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 100ms;
    transform: rotate(-25deg);
  }
  
  .share:hover > h1 > span:nth-child(1) {
    color: #39393B;
    transition-delay: 110ms;
  }
  
  .share:hover > h1 > span:nth-child(2):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 200ms;
    transform: rotate(-20deg);
  }
  
  .share:hover > h1 > span:nth-child(2) {
    color: #39393B;
    transition-delay: 220ms;
  }
  
  .share:hover > h1 > span:nth-child(3):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 300ms;
    transform: rotate(-15deg);
  }
  
  .share:hover > h1 > span:nth-child(3) {
    color: #39393B;
    transition-delay: 330ms;
  }
  
  .share:hover > h1 > span:nth-child(4):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 400ms;
    transform: rotate(-10deg);
  }
  
  .share:hover > h1 > span:nth-child(4) {
    color: #39393B;
    transition-delay: 440ms;
  }
  
  .share:hover > h1 > span:nth-child(5):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 500ms;
    transform: rotate(-5deg);
  }
  
  .share:hover > h1 > span:nth-child(5) {
    color: #39393B;
    transition-delay: 550ms;
  }
  
  .share:hover > h1 > span:nth-child(6):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 600ms;
    transform: rotate(0deg);
  }
  
  .share:hover > h1 > span:nth-child(6) {
    color: #39393B;
    transition-delay: 660ms;
  }
  
  .share:hover > h1 > span:nth-child(7):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 700ms;
    transform: rotate(5deg);
  }
  
  .share:hover > h1 > span:nth-child(7) {
    color: #39393B;
    transition-delay: 770ms;
  }
  
  .share:hover > h1 > span:nth-child(8):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 800ms;
    transform: rotate(10deg);
  }
  
  .share:hover > h1 > span:nth-child(8) {
    color: #39393B;
    transition-delay: 880ms;
  }
  
  .share:hover > h1 > span:nth-child(9):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 900ms;
    transform: rotate(15deg);
  }
  
  .share:hover > h1 > span:nth-child(9) {
    color: #39393B;
    transition-delay: 990ms;
  }
  
  .share:hover > h1 > span:nth-child(10):after {
    background: grey;
    width: 100%;
    transition: 0.6s;
    transition-delay: 1000ms;
    transform: rotate(20deg);
  }
  
  .share:hover > h1 > span:nth-child(10) {
    color: #39393B;
    transition-delay: 1100ms;
  }
  .efecto {
    background: white;
  overflow-x: hidden;
  padding: 40px;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  width: 100%;
  height: 50%;
  }
.words {
  color: white;
  font-size: 0;
  line-height: 1;
}
.words span {
  font-size: 120px;
  display: inline-block;
  -webkit-animation: move 2s ease-in-out infinite;
          animation: move 2s ease-in-out infinite;
}
.words span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.words span:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.words span:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}
* {
  box-sizing: border-box;
}

.about {
  max-width: 600px;
  margin: 60px auto;
  border: 2px solid #6d5b5e;
  color: #a99094;
  padding: 20px;
  font-family: monaco, courier, mono-space;
  line-height: 2;
  box-shadow: 5px 5px 0 #333;
}
.about a {
  background: #a99094;
  color: #444;
  text-decoration: none;
  padding: 1px 4px;
  white-space: nowrap;
}
